body,html{
  background-color:white !important; 
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.page-header {
  margin-top: 0
}
@media (max-width: 768px) {
  .page-header {
      font-size: 20px
  }
}
.panel-body {
  padding-top: 0;
  padding-bottom: 15px;
  margin-bottom: 0
}
.bs-docs-section .panel .panel-body{
  background-color:white;
  color:#5a5a5a;
}