footer {
    min-height: 40%;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color:rgb(221, 221, 221);
}

.footerBody{
   padding-top:5%; 
   padding-left:0%; 
   margin-right:0%; 
   margin-left:0%; 
   width:100% !important; 
}

.footerBody p, .footerBody li{
    color: #2f2f2f;
    text-align: left;
    text-decoration: none solid #2f2f2f;
    font: normal normal 200 20px/26px 'roboto slab', sans-serif;
}

.footerBody ul{
    list-style-type:none;
    padding:0;
}

.footerBody a{
    color: black;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.footerBody li a{
    color:#0099CC;
}

.footerBody li a{
    font-size:14px; 
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.footerBody h2{
    font-family: "roboto slab", sans-serif;
    color: #2F2F2F;
    font-weight:500; 
    text-transform: capitalize;   
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.footerBody #contactInfo{
    padding-left:5%;
}

.footerBody #contactInfo p{
    font-weight:500;
}


/* Social media */
#socialMedia {
    display: inline-block;
    height: 30px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
#socialMedia a{
    color: #888;
    display: inline-block;
    height: 30px;
    text-align: left;
    text-decoration: none solid #888;
    vertical-align: top;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) url(img/icons/mail.png) no-repeat scroll center;
    border: 0 none #888;
    margin: 0 0 0 8px;
    outline: #888 none 0
}

#googlePlusLink {
    background: rgba(0, 0, 0, 0) url(img/icons/google.png) no-repeat scroll center;
}
#contactModalLink {
    background: rgba(0, 0, 0, 0) url(img/icons/mail.png) no-repeat scroll center;
}
#facebookLink {
    background: rgba(0, 0, 0, 0) url(img/icons/facebook.png) no-repeat scroll center;
}
#socialMedia span {
    color: #888;
    text-align: left;
    text-decoration: none solid #888;
    white-space: nowrap;
    border: 0 none #888;
    outline: #888 none 0;
}

/* Final notice */

#finalNotice {
    bottom:5%; 
    padding-bottom:10%; 
    padding-left:5%; 
    padding-right:5%;
}
#finalNotice #generalInfo {
    color: #2f2f2f;
    text-align: center;
    text-decoration: none solid #2f2f2f;
    border: 0 none #2f2f2f;
    font: normal normal 200 20px/26px 'roboto slab', sans-serif;
    margin: 0;
    outline: #2f2f2f none 0;
    font-weight:500;
}
#finalNotice #footerCopyright {
    color: #393939;
    height: 16px;
    text-align: center;
    text-decoration: none solid #393939;
    border: 0 none #393939;
    font: normal normal normal 12px/normal 'Times New Roman';
    outline: #393939 none 0;
    font-weight:500;
}


@media (max-width:767px){
    .footerBody p, ul, h2{
        text-align:center !important;
    }
}